# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
myenv/
env/
venv/

# Ignore model files (they can be large and are not usually needed in version control)

data/

# Ignore image and drawing files generated during the project execution
digit.png
*.png
*.jpg
*.jpeg
*.gif

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system-specific files (e.g., MacOS, Windows)
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore IDE or editor-specific files
.idea/
.vscode/

# Ignore user-specific settings
*.swp
*.swo

# Ignore temporary files created by operating systems
*.bak
*.tmp
